---
// import TheComponent from "../../components/TheComponent";
import TheCounter from "../../components/TheCounter.astro";


---

<h1>Sample</h1>

<!-- <TheComponent client:load /> -->

<TheCounter />